/*
 * Form styling
 */


.wpforms-field {
    margin-bottom: 1em;
}

.wpforms-field-row {
    display: flex;
}
.wpforms-one-half {
    flex-grow: 1;
}
.wpforms-first {
    padding-right: 0.5em;
    margin-right: 0.5em;
}


.wpforms-field-label {
    margin-bottom: 0.125em;
}

.wpforms-field-sublabel {
    font-size: 0.8em;
    font-style: italic;
}

.wpforms-field-select select {
    @extend .form-control;
}

.wpforms-field-hp {
    @extend .sr-only;
}


.wpforms-submit-container {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
