/*
 * Card
 * `components/_card.scss`
 */


.alert {
  p {
    margin-bottom: 0.4em;
  }

  * {
    &:last-child {
      margin-bottom: 0.1em;
    }
  }
}

.alert__title {
  font-size: 1rem;
  font-style: italic;
  color: $text-muted;
  top: -1rem;
  background-color: #212529;
  display: inline-block;
  position: absolute;
  margin-bottom: 1em;
  padding: 0 0.5em;
}

.alert-success,
.alert-danger,
.alert-warning,
.alert-info {
  background-color: transparent;
  color: inherit;
}
