/*
 * Forms
 * `src/sass/componennts/_forms.scss`
 *
 * Forms and input styling.
 *
 */


.form-control {
  border: 0px;
}


.wpforms-field-hp {
  @extend .sr-only;
}


.wpforms-field-container {
  margin: 1.5em 0 2em;
}

.wpforms-field {
  margin: 1em 0;
}


@include media-breakpoint-up(sm) {

  .wpforms-field-row {
    display: flex;
    margin: 0 -0.5em;
  }

  .wpforms-field-row-block {
    width: 100%;
    padding: 0 0.5em;
  }

}


.wpforms-field-sublabel {
  font-size: 0.8em;
  color: $gray-600;
}


.wpforms-submit {
  width: 10em;
  max-width: 100%;
}




/*
 * Toggle switch
 */

.toggle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 3em;
  height: 1.55555556em;
  line-height: $line-height-base;

  .no-js {
    .toggle {
      display: none;
    }
  }
}

.toggle__switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lighten($blue, 35%);
  color: #fff;
  transition: .4s;
  font-weight: normal;
  border-radius: $border-radius;
  margin: 0;

  &:before {
    position: absolute;
    content: "";
    height: 1.11111111em;
    width: 1.11111111em;
    left: 0.222222222em;
    bottom: 0.222222222em;
    background-color: white;
    transition: .4s;
    border-radius: $border-radius;
    z-index: 2;
  }
  &:after {
    font-size: 1em;
    line-height: 1;
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' version='1.0' viewBox='0 0 1218 1280'><path fill='darkorange' d='M549.7 102.6c-32.3 56-58.6 101.9-58.4 102.1.3.2 5.2-1 11-2.6 69.7-19.6 137.3-19.7 210.6-.5 7.3 1.9 13.5 3.3 13.7 3.1C727.1 204.2 609.8 1 609 1c-.3 0-27 45.7-59.3 101.6zM233 124.4c0 1.5 23.5 226.7 24.2 232 .2 1.4 1.6.3 5.3-4.5 37.6-48.5 82.5-85.3 136.5-111.8 12.5-6.2 36.5-16.3 48.4-20.5 1-.3 1.7-.8 1.5-1-.6-.6-212.2-94.8-214.1-95.3-1.2-.4-1.8 0-1.8 1.1zM875.8 170.8c-58.7 26.2-106.4 47.9-106 48.2.4.4 5.4 2.4 11.2 4.5 66.7 24.1 126.6 67.9 172.2 125.6 5.3 6.8 7.4 8.8 7.6 7.3.7-5.4 24.2-230.5 24.2-231.8 0-.9-.6-1.6-1.2-1.5-.7 0-49.3 21.5-108 47.7zM578.5 221.7c-122.2 10-231.3 69.3-304 165.3-83.5 110.3-107.1 255.1-63 386.7 31.5 93.9 96 174.1 180.9 225.1 55.6 33.4 114 52.5 179.9 58.8 21.3 2 64.1 1.5 84.7-1.1 61.2-7.5 116.7-26.5 168.6-57.7 99.9-59.9 170.7-159.9 194.3-274.6 5.8-27.9 8.2-52.9 8.2-84.2 0-24.8-1-39.1-4.1-60.7-18.6-127.1-94.4-238.5-206-302.8-38.5-22.2-83.7-39.1-128-47.9-26.4-5.2-43.3-6.8-76-7.1-16.8-.1-32.7-.1-35.5.2zM226 394.1c-1.9.5-32.3 7-67.5 14.5C37.4 434.2.6 442.1.4 442.3c-.1.1 35.4 39.7 79 88l79.1 87.8 1.2-18.1c1.3-21.2 2.6-31.5 5.9-50 9.4-51.5 30.2-102.4 60.3-147.4 2.6-3.9 5.1-7.7 5.5-8.4.8-1.4-.3-1.4-5.4-.1zM986.6 394.2c.4.7 3.8 5.8 7.4 11.3 10.3 15.4 17.5 28.1 26.5 46.9 22.1 45.7 34 92.2 37.5 146.6.6 9.6 1.2 17.9 1.3 18.3.1.4 35.8-38.7 79.4-87 43.5-48.3 79-87.9 78.9-88-.1-.2-10.7-2.5-64.1-13.8-8.8-1.9-23.4-5-32.5-6.9-9.1-1.9-41-8.7-71-15.1-30-6.3-56.4-11.9-58.7-12.5-5.3-1.3-5.6-1.3-4.7.2zM79.3 749.6C35.8 798 .3 837.6.4 837.7c.1.1 54.5 11.7 137.6 29.3 64.8 13.8 88.6 18.8 91.4 19.6 3.4.8 3.8 1.8-5.4-12.1-10.3-15.4-17.5-28.2-26.5-46.9-22-45.5-33.9-91.9-37.5-146.1-.6-9.4-1.2-17.6-1.3-18.4-.1-.7-35.8 38.2-79.4 86.5zM1058.2 681.3c-4.5 70.9-25.1 133-64 192.7-4.4 6.9-7.9 12.6-7.8 12.7.2.2 4.3-.6 9.2-1.7 4.9-1.1 51.4-11 103.4-22 52-11 100-21.2 106.8-22.7l12.3-2.6-3.4-3.6c-1.9-2-36.2-40.1-76.2-84.6-40-44.6-74.2-82.5-75.9-84.3l-3.2-3.3-1.2 19.4zM245.1 1038.9c-6.8 64.5-12.1 117.4-11.8 117.7.3.3 48.9-21 108.1-47.3 59.1-26.3 107.2-48.1 106.8-48.4-.4-.3-6.5-2.7-13.6-5.3-67.8-25.1-124.5-67.4-174.1-130.1l-3.1-3.8-12.3 117.2zM953.5 930.5c-14.8 19-29.8 35.1-47 50.4-39.6 35.3-78.8 58.2-136 79.6-1.7.6-1.5.9 2 2.5 2.2.9 50.7 22.5 107.8 47.9 57.1 25.5 104.1 46 104.4 45.7.4-.4-22.7-225.2-24-233.6-.1-.8-3.3 2.6-7.2 7.5zM491.1 1075.7c1 2.6 117.4 203.3 117.9 203.3s116.9-200.7 117.9-203.3c.4-1.1 1.1-1.3-19.8 4.3-33.8 8.9-60.6 12.3-96.6 12.4-35.8 0-65.7-3.7-99-12.4-20.7-5.4-20.8-5.5-20.4-4.3z'/></svg>");
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 0.95em;
    left: 55%;
    right: 0.5em;
    transform: translateY(-46%);
    transition: right 0.1s ease, left 0.1s ease;
  }
}

.toggle__input {
  @extend .sr-only;

  &:checked {
    + .toggle__switch {
      background-color: desaturate(darken($blue, 43%), 50%);

      &:before {
        transform: translateX(1.47em);
      }

      &:after {
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='goldenrod' d='M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z' class=''></path></svg>");
        right: 40%;
        width: 0.8em;
        transform: translateY(-47%);
        left: 0.5em;
      }
    }
  }
}
