/*
 * Components
 * `src/sass/components.scss`
 *
 * Site-wide reusable patterns.
 *
 */




/*
 * Accessiblity
 */


// Override WP items with bootstrap's .sr-only styling.
.screen-reader-text {
  @include sr-only();
}


// Skip to content link.
.a11y-skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
  z-index: 9999;

  &:active,
  &:focus,
  &:hover {
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    overflow: visible;
    padding: 1em;
    background-color: #fff;

  }
}




/*
 * Typography
 */
@import '_typography';

@import '_components/_forms';

@import '_components/_btn';

@import '_components/_alert';

@import '_components/_nav';

@import '_components/_card';



/*
 * Lists
 */

.list--share {
  .share__item--facebook a {
    color: $facebook;
  }
  .share__item--twitter a {
    color: $twitter;
  }
  .share__item--linkedin a {
    color: $linkedin;
  }
  .share__item--email a {
    color: $email;
  }

  .share__item {
    a:hover,
    a:focus,
    a:hover:focus {
      color: $link-hover-color;
    }
  }
}




.dropdown-toggle {
  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}



@import '_components/_images';




/*
 * Yoast SEO Breadcrumbs
 */

.breadcrumbs {
  font-size: 0.7em;

  .separator {
    padding: 0 0.3em;
  }
}

.breadcrumb_last {
  max-width: 17em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  vertical-align: bottom;
}


/*
 * Pagination
 */

.pagination {
  @include clearfix;
  padding: 2em 0;
  font-size: 0.9em;
}
.nav-links {
  .page-numbers {
    display: inline-block;
    padding: 0.5em 0.75em;
    border-radius: $border-radius;
  }
  .current {
    background-color: $component-active-bg;
    color: $component-active-color;
  }
}



/*
 * Background colors
 */
.bg-primary {
  background-color: $primary;
}
.bg-success {
  background-color: $success;
}
.bg-info {
  background-color: $info;
}
.bg-warning {
  background-color: $warning;
}
.bg-danger {
  background-color: $danger;
}


.object-fit-cover {

}



.browser {
  border: 3px solid rgba($gray-600, 0.4);
  border-radius: $border-radius;
  border-top-width: 1.5em;
  position: relative;
  display: inline-block;
  clear: both;

  &:before {
    content: '';
    background-image: url("../img/browser.svg");
    background-size: 2em 0.5em;
    background-repeat: no-repeat;
    position: absolute;
    width: 2em;
    height: 0.5em;
    top: -1.0125em;
    left: 0.5em;
  }

  img {
    border-radius: 0;
  }

  figcaption,
  .wp-caption {
    margin-left: 1em;
    margin-right: 1em;
  }

  &.wp-block-image.is-resized {
    display: inline-block;

    > figcaption,
    > .wp-caption {
      display: block;
    }
  }
}



.header__wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.2;
  background-color: $body-bg;

  .entry__image {
    width: 100%;
    height: 700px;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    mix-blend-mode: luminosity;
    overflow: hidden;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40%;
    z-index: 0;
    background-color: transparent;
    background-image: linear-gradient(to top, $body-bg, rgba($body-bg,0));
  }
}
