/*
 * Gutenberg
 * `src/sass/gutenberg.scss`
 *
 * Component styles for the WordPress Gutenberg editor.
 *
 */



.wp-block-quote {
  @extend .blockquote;
  border-left-color: rgba($body-color, 0.3);
  border-left-style: solid;
  padding-left: 1em;

  p {
    margin-bottom: 1rem;
  }

  cite {
    font-size: 0.7em;
    opacity: 0.8;
  }
}


.entry__content {
  line-height: 1.7;

  h1, .h1,
  h2, .h2,
  h3, .h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-top: 0.25em;
  }

  p,
  ul,
  ol,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 54em;
  }

  ul,
  ol {
    li {
      margin-bottom: 0.125em;
    }
  }

}

.entry__preheader {
  p {
    max-width: 40em;
    color: $text-muted;
  }
}


.wp-block-separator {
  margin-left: 0;
  margin-right: 0;

  &.is-style-default {
    width: 10em;
  }
  &.is-style-wide {
    width: 100%;

  }
}


.wp-block-table {
  width: 100%;
  @extend .table;
}



/*
 * Embeds
 */
.wp-embed-aspect-16-9 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}



.pg-title {
  font-style: italic;
  color: $gray-600;
  margin-bottom: 0.5em;
  mix-blend-mode: overlay;

  &,
  .entry__content & {
    @include media-breakpoint-up(md) {
      font-size: 6.4vw;
    }
    @media screen and (min-width: 1500px) {
      font-size: 7.2vw;
    }
  }

  strong {
    font-weight: inherit;
    color: $black;
    mix-blend-mode: overlay;
  }

}
