/*
 * Gutenberg
 * `src/sass/gutenberg.scss`
 *
 * Component styles for the WordPress Gutenberg editor.
 *
 */



.wp-block-quote {
  @extend .blockquote;
  border-left-color: rgba($body-color, 0.3);
  border-left-style: solid;
  padding-left: 1em;

  p {
    margin-bottom: 1rem;
  }

  cite {
    font-size: 0.7em;
    opacity: 0.8;
  }
}


.entry__content {
  line-height: 1.6;

  h1, .h1,
  h2, .h2,
  h3, .h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-top: 0.25em;
  }

  p,
  ul,
  ol,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 40em;
  }

}


.wp-block-separator {
  margin-left: 0;
  margin-right: 0;

  &.is-style-default {
    width: 10em;
  }
  &.is-style-wide {
    width: 100%;

  }
}


.wp-block-table {
  width: 100%;
  @extend .table;
}


.pg-title {
  font-style: italic;
  color: $gray-600;
  margin-bottom: 0.5em;

  &,
  .entry__content & {
    @include media-breakpoint-up(md) {
      font-size: 6.4vw;
    }
    @media screen and (min-width: 1500px) {
      font-size: 7.2vw;
    }
  }

}
