/*
 * Typography
 * `typography.scss`
 */


a {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-style: dotted;
  text-decoration-color: rgba($gray-600, 0.6);

  &:hover,
  &:focus,
  &:hover:focus {
    text-decoration: none;
  }

  &.btn,
  &.share-link,
  &.nav-link,
  &.action__item,
  &.card,
  .panel-heading &,
  &.dropdown-item {
    text-decoration: none;
  }
}


.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;

  a {
    color: $link-color;
  }
}

.font-size-lg {
  font-size: $font-size-lg;
}

.font-size-base {
  font-size: $font-size-base;
}

.font-size-sm {
  font-size: $font-size-sm;
}

.lead {
  font-weight: 400;
  font-size: $font-size-lg;
  margin-bottom: 0.7em;
}


.small, small {
  font-size: 0.8em;
}


blockquote {
  border-left-width: 4px;
}

.blockquote-reverse {
  border-right-width: 4px;
}
