/*
 * Widgets
 * `src/sass/widgets.scss`
 *
 * Widget styling for any and all sidebar areas.
 *
 */


.widgets {
  .widget {
    margin-bottom: 2.5em;
    font-size: 0.8em;

    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  .widget_search {
      // something
  }

  .widget_nav_menu ul,
  .widget_meta ul {
    @extend .nav;

    > li {

      > a {
        padding: 5px;
        text-decoration: none;
      }

      ul {
        display: none;
      }
    }
  }

  .gform_widget {
    .gform_title {
      margin: 0.2em 0;
      font-size: 1em;
    }
    .ginput_complex > span,
    .gf_half, .gf_third,
    .gf_left_half, .gf_right_half,
    .gf_left_third, .gf_right_third {
      width: 100% !important;
    }
  }

  .widget_calendar {
    table {
      width: 100%;

      thead > tr > th {
        color: $gray-300;
        font-size: 0.8em;
      }
    }
  }

}
