/*
 * Main
 * `src/sass/app.scss`
 */


@import '_setup';

@import '_bootstrap';
@import '_grid';


body {
  font-size: $font-size-base * 0.8;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-base * 0.9;
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size-base * 1.1;
  }
  @include media-breakpoint-up(xl) {
    font-size: $font-size-base * 1.2;
  }
}


:focus {
  box-shadow: 0 0 0 0.1rem $primary;
}

::selection {
  color: $white;
  background-color: $primary;
  text-shadow: 0.1em 0.1em 0 $gray-900;
}


@import '_components';


.pg-header {
  margin: 0 0 1em;
}
.pg-footer {
  margin: 2em 0 1em;
  font-size: 0.8em;
  color: $gray-600;

  a:not(.btn) {
    color: inherit;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }
}

.footer__cta {
  padding: 2em 0;
  margin-bottom: 2em;
  display: block;
  text-decoration: none;
  color: $text-muted;
  transition: background-color 0.3s ease, color 0.3s ease, padding-left 1s ease;

  &:hover,
  &:focus {
    background-color: darken($body-bg,10%);
    color: $link-color;
  }

  @include media-breakpoint-up(md) {
    border-radius: $border-radius 0 0 $border-radius;

    &:hover, &:focus {
      padding-left: 1.5em;
    }
  }
}

.footer__copyright {
  width: 11.5em;
}


/*
 * Content/inner pages.
 */
.pg-title + .entry__preheader {
  margin-top: -1em;
  margin-bottom: 2em;
}
.entry__meta {
  color: $text-muted;
  font-size: 0;
}
ul.entry__meta {
  @extend .list-inline;
}
.meta__item {
  font-size: $font-size-base;

  + .meta__item {

    &:before {
      content: '•';
      margin: 0 0.5em;
    }
  }
}

.entry__content {
  > p > img,
  > p > a > img
  > img {
    max-width: 100%;
    height: auto;
  }
}

.entry__footer {
  margin: 3em 0 1em;
  padding: 1em 0;
  font-size: 0.9em;

  .widget_share {
    .widget-title {
      font-size: 1em;
    }
  }
}


.entries__entry {

  .entry__img {
    transition: box-shadow 0.5s ease;
  }

  &:hover,
  &:focus {
    .entry__img {
      box-shadow: 0.25em 0.25em 2em 0 rgba($black, 0.4);
    }
  }
}



@import '_widgets';



.entries {
  margin-bottom: 2em;
}
.entries__entry {
  + .entries__entry {
    margin-top: 2em;
  }
}



@import '_gutenberg';

//@import '_beaver-builder';
