/*
 * Light
 * `src/sass/light.scss`
 */



@import '_setup';


@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
  :root {
    --color-mode: 'light';
  }
}


.light-mode {

  .home-img-float {
    background-color: $white;
  }

  @media screen and (min-width: 1200px) {

    .home-img-float {
      opacity: 0.3;
    }

  }

}
