/*
 * Grid
 * `src/sass/grid.scss`
 *
 * Override/extend grid
 *
 */

.container {
  margin-left: 0;
  margin-right: 0;
}


.pg-main {
  isolation: isolate;
  
  @include media-breakpoint-up(md) {
    margin-left: calc(8em + 1.333rem);
  }
}
