/**
 * Navigation
 *
 */


.wp-block-navigation__responsive-container-close,
.wp-block-navigation__responsive-container-open {
	svg {
		width: $font-size * 3;
		height: $font-size * 3;
	}
}

.wp-block-navigation-link {
	a {
		&:hover,
		&:focus {
			color: var(--colour-secondary);
		}
	}
}

.wp-block-navigation-item__content {
	padding: $nav-link-padding-y $nav-link-padding-x;
}

body {
	.wp-block-navigation {
		&:not(.has-background) {
			.wp-block-navigation__responsive-container {
				&.is-menu-open {
					color: var(--colour-tertiary);
    				background-color: var(--colour-primary);
				}
			}
		}
	}
}

.wp-block-navigation__responsive-container {
	&.is-menu-open {
		padding-top: 3rem;
	}
}


@include media-breakpoint-up(sm) {
	.wp-block-navigation {
		margin-left: 0 - $nav-link-padding-x;
		margin-right: 0 - $nav-link-padding-x;
	
		ul {
			margin-left: 0;
			margin-right: 0;
		}
	}	
}