[data-theme="teal-dark"] {
	// default
}

[data-theme="teal-light"] {
	--color-primary: #100e0d;
	--color-secondary: #9A3978;
	--color-tertiary: #A2ECE5;
}

[data-theme="pink-dark"] {
	--color-primary: #fface2;
	--color-secondary: #00b39d;
	--color-tertiary: #091353;
}

[data-theme="pink-light"] {
	--color-primary: #091353;
	--color-secondary: #00b39d;
	--color-tertiary: #fface2;
}