/**
 * Typography
 */


a {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-style: dotted;
    text-decoration-color: var(--color-secondary);

    &:hover,
    &:focus,
    &:hover:focus {
        text-decoration-color: currentColor;
    }
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: $h-margin;
	line-height: $h-line-height;
	font-weight: $h-font-weight;
}

.resize-dash {
    transform: scaleX(2);
    display: inline-block;
    margin: 0 0.3em;
}