/**
 * Typography
 */


a {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-style: dotted;
    text-decoration-color: var(--colour-secondary);

    &:hover,
    &:focus,
    &:hover:focus {
		color: color-mix(in srgb, var(--colour-secondary), var(--colour-primary) 33.333%);
        text-decoration-color: currentColor;
    }
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: $h-line-height;
	font-weight: $h-font-weight;
}

.resize-dash {
    transform: scaleX(2);
    display: inline-block;
    margin: 0 0.3em;
}

.wp-block-image {
	figcaption {
		color: inherit;
		opacity: 0.7;
	}
}