/**
 * Variables
 */

// General options

$border-width:				1px;
$border-radius:				1rem;
$inner-border-radius:		calc(#{$border-radius} - #{$border-width});
$spacer:					1rem;

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$gutter:					2rem;
$gutter-half:				$gutter * 0.5;

// Typography

$font-sans-serif:			"Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-monospace:			"Space Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family:				$font-monospace;

$font-size:					1.25rem; // Assumes the browser default, typically `16px`
$font-size-lg:				$font-size * 1.6;
$font-size-sm:				$font-size * 0.8;

$line-height:				1.6;

$h1-font-size:				$font-size * 2.5;
$h2-font-size:				$font-size * 2;
$h3-font-size:				$font-size * 1.75;
$h4-font-size:				$font-size * 1.5;
$h5-font-size:				$font-size * 1.25;
$h6-font-size:				$font-size;

$h-margin:			$spacer 0;
$h-font-weight:		600;
$h-line-height:		1.3;


// Buttons + inputs

$input-btn-padding-y:		.375rem;
$input-btn-padding-x:		.75rem;
$input-btn-font:			$font-sans-serif;
$input-btn-font-size:		$font-size;
$input-btn-line-height:		$line-height;

$input-btn-border-width:	$border-width;


// Z-index master list

$zindex-dropdown:			1000;
$zindex-fixed:				1020;
$zindex-popover:			1060;


// Navs

$nav-link-padding-y:		.5rem;
$nav-link-padding-x:		1rem;


// Cards

$card-padding-y:			3rem;
$card-padding-x:			4rem;
$card-border-width:			$border-width;
$card-border-radius:		$border-radius;