/**
 * Main stylesheet
 *
 * Edit WP stylesheet header in style.css
 */


*,
*::before,
*::after {
	box-sizing: border-box;
}


@import '_variables';
@import '_mixins';


body {
	--colour-primary: #00b39d;
	--colour-secondary: #fface2;
	--colour-tertiary: #100e0d;

	font-family: $font-family;
    font-size: $font-size;

	@include media-breakpoint-up(md) {
        font-size: $font-size * 1.5;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size * 2;
    }
}

@import '_schemes';

body {
	color: var(--colour-primary);
	background-color: var(--colour-tertiary);
	transition: background-color 0.4s cubic-bezier(.57,.21,.69,1.25), color 0.4s cubic-bezier(.57,.21,.69,1.25);
}

:focus {
    box-shadow: 0 0 0 0.1rem var(--colour-primary);
}

::selection {
    color: var(--colour-tertiary);
    background-color: var(--colour-primary);
}


@import '_display';
@import '_spacing';
@import '_typography';


body > .skip-link.screen-reader-text {
	&:focus {
		color: var(--colour-tertiary);
    	background-color: var(--colour-primary);
	}
}


@import '_block-editor';


header, footer {
	font-family: $font-sans-serif;
}

header {
	margin-bottom:var(--wp--preset--spacing--60);
}


@import '_nav';


.wp-block-site-logo {
	.custom-logo-link {
		margin-left: 0 - $gutter-half;

		&:hover,
		&:focus {
			img {
				animation-name: tada;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}
		}
	}
}


@keyframes tada {
    0% {
        transform: scale3d(1, 1, 1)
    }

    0%, 24%, 50%, 74% {
        transform: rotate3d(0, 0, 1, 7deg)
    }

    25%, 49%, 75%, 99% {
        transform: rotate3d(0, 0, 1, -7deg);
    }
}


.wp-block-post-featured-image,
.wp-block-image {
	img {
		border-radius: $border-radius;
		opacity: 0.95;
	}
}


.wp-block-separator {
	width: calc(var(--wp--style--global--content-size) - $gutter);
	max-width: calc(100% - $gutter);
	border-width: 0.2em 0 0 0;
	border-style: dotted;
	margin: var(--wp--preset--spacing--70) auto;
	opacity: 0.25;
}

.wp-block-image {
	figcaption {
		text-align: inherit;
	}
}

.wp-block-rss__item {
	line-height: 1.4;

	+ .wp-block-rss__item {
		margin-top: 0.625em;
	}
}

.wp-element-button,
.wp-block-button__link {
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.wp-block-button.is-style-outline {
	.wp-element-button,
	.wp-block-button__link {
		&:hover, &:focus {
			color: var(--colour-tertiary);
			background-color: color-mix(in srgb, var(--colour-primary), var(--colour-tertiary) 20%);
		}
	}
}


@include media-breakpoint-up(sm) {
	header, footer {
		font-size: 1.25rem;
	}
}

@include media-breakpoint-down(xs) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: middle;
		flex-direction: row-reverse;	
	}

	header nav {
		font-size: $font-size * 2;
	}

	.wp-block-site-logo {
		img {
			width: 160px;
			height: auto;
		}
	}
}