/**
 * Editor style
 */

.editor-styles-wrapper {
	font-size: 40px !important;
}

body, .editor-styles-wrapper,
.editor-styles-wrapper [data-scheme="teal-dark"] {
	/* default */
	--colour-primary: #00b39d;
	--colour-secondary: #fface2;
	--colour-tertiary: #100e0d;
}

.editor-styles-wrapper {
	[data-scheme="teal-light"] {
		--colour-primary: #100e0d;
		--colour-secondary: #9A3978;
		--colour-tertiary: #A2ECE5;
	}

	[data-scheme="pink-dark"] {
		--colour-primary: #fface2;
		--colour-secondary: #00b39d;
		--colour-tertiary: #091353;
	}

	[data-scheme="pink-light"] {
		--colour-primary: #091353;
		--colour-secondary: #00b39d;
		--colour-tertiary: #fface2;
	}

	h1,
	h2,
	h3,
	h4 {
		font-weight: normal;
		line-height: 1.3;
	}
}