<!-- wp:group {"layout":{"inherit":true}} -->
<div class="is-layout-constrained wp-block-group">

	<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
	<!-- wp:post-title {"tagName":"h1"} /-->

	<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
	<main class="wp-block-group">

		<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->

</div>
<!-- /wp:group -->